<div class="container">
  <h1>App</h1>
  <nav>
    <ul>
      <li>
        {{link-to 'home' 'application'}}
      </li>
      <li>
        {{link-to 'registration' 'users/new'}}
      </li>
      <li>
        {{link-to 'login' 'users/authenticate'}}
      </li>
    </ul>
  </nav>
  {{outlet}}
</div><!-- /.container -->
